@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;900&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: sans-serif;
}

#app {
    height: 100%;
    max-width: 50rem;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-weight: normal;
}

h3 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    margin: 1rem;
}

button {
    border: none;
}

#newPlayerName {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
}

#startGame {
    width: 100%;
    background-color: green;
    color: white;
    padding: 1.3rem;
    font-size: 2rem;
}

button:disabled {
    opacity: 0.6;
    cursor: default;
}
